body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  color: #333;
}

.mainContent {
  width: 50%;
  margin: auto;
}

#logo {
  width: 20%;
}

video {
  width: 100%;
}

.sottoLogo {
  background-color: #f7f0cd;
  border-top: 1px solid #ffd977;
  padding: 1%;
  font-size: 0.7em;
}

hr {
  height: 1px;
  color: #4feeee;
  background-color: #4feeee;
}

.dropMenu {
  text-transform: uppercase;
}

picture img {
  width: 100%;
  align-items: center;
}

.mainText {
  text-align: left;
}

.featured {
  background-color: #f7f0cd;
  border-top: 1px solid #ffd977;
  margin-top: 5%;
  margin-bottom: 10%;
  border-left: 1px solid #ffd977;
  padding-left: 5%;
  padding-bottom: 1%;
  text-decoration: none;
}

figcaption {
  color: #999999;
  padding-top: 1%;
  font-size: 0.7em;
}

.featuredText1 {
  color: #b5460f;
  text-decoration: none;
}

.featuredText2 {
  color: #117777;
}
