<div class="container-fluid pt-3 pb-5 bg-big">
    <img
    src="../../../assets/img/logo-Netflix.png"
    width="15%"
    alt="Netflix Logo"
    class="mb-5 btn border-0"
    routerLink=""
    routerLinkActive="active"
  />
    <div class="container px-5">
        <form
            #signupForm="ngForm"
            class="w-50"
            (ngSubmit)="onSubmit(signupForm)"
        >
            <div class="form-group text-white fs-6 px-5 mb-3">
                <label for="name" class="form-label">Your name</label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    required
                    class="form-control mb-4"
                    ngModel
                />

                <label for="email" class="form-label">Email</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    required
                    class="form-control mb-4"
                    ngModel
                    [(ngModel)]="email"
                    />

                <label for="password" class="form-label">Password</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    required
                    minlength="6"
                    class="form-control mb-4"
                    ngModel
                />

                <label for="age" class="form-label">Age</label>
                <input
                    type="number"
                    id="age"
                    name="age"
                    required
                    class="form-control mb-4"
                    ngModel
                />

                <label class="form-label fs-5">Your favourite genres</label>
                <hr>
                <div class="row mb-4">
                    <div class="col-md-6 col-lg-4" *ngFor="let genre of genres">
                        <div class="form-check mb-2">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                [id]="genre.name"
                                [name]="genres"
                                [value]="genre.id"
                                [checked]="selectedGenreIds.includes(genre.id)"
                                (change)="onGenreChange($event, genre.id)"
                            />
                            <label
                                class="form-check-label"
                                [for]="genre.name"
                                >{{ genre.name }}</label
                            >
                        </div>
                    </div>
                </div>
                <label class="form-label fs-5">Choose your avatar</label>
                <hr>
                
                
            </div>
            <div class="row">
                <div class="col-md-3" *ngFor="let avatar of avatars">
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="avatar" [value]="avatarURL+avatar" [(ngModel)]="selectedAvatar">
                        <label class="form-check-label">
                            <img [src]="avatarURL + avatar" class="img-fluid avatar-image w-100" alt="Avatar">
                        </label>
                    </div>
                </div>
            </div>
            <button
                type="submit"
                [disabled]="signupForm.invalid"
                class="btn btn-outline-light mt-4 ms-5 btn-lg"
            >
                Registrati
            </button>
        </form>
    </div>
</div>
<app-footer></app-footer>
