<section class="container mb-5">

    <div class="container text-start mb-4">
        <h2 class="text-light display-6 mb-3">Catalogo Film</h2>
        <div class="row">
            <div
                class="col-6 col-md-4 col-lg-3 d-flex align-self-stretch"
                *ngFor="let movie of allMovies | slice:0:8"
                style="height: 100%;"
            >
                <img
                    [src]="getImageUrl(movie.poster_path)"
                    class="btn border-0 img-fluid img-hover py-2 shadow"
                    alt="{{ movie.title }}"
                    height="100%"
                />
            </div>
        </div>
    </div>

    <div class="container text-start mb-4">
        <h2 class="text-light display-6 mb-3">Scelti per te</h2>
        <div class="row">
            <div
                class="col-6 col-md-4 col-lg-3 d-flex align-self-stretch"
                *ngFor="let movie of recommendedMovies | slice:0:8"
            >
                <img
                    [src]="getImageUrl(movie.poster_path)"
                    class="btn border-0 img-fluid img-hover py-2 shadow"
                    alt="{{ movie.title }}"
                    height="100%"
                />
            </div>
        </div>
    </div>

    <div class="container text-start mb-4">
        <h2 class="text-light display-6 mb-3">I più amati</h2>
        <div class="row">
            <div
                class="col-6 col-md-4 col-lg-3 d-flex align-self-stretch"
                *ngFor="let movie of popularMovies | slice:0:8"
            >
                <img
                    [src]="getImageUrl(movie.poster_path)"
                    class="btn border-0 img-fluid img-hover py-2 shadow"
                    alt="{{ movie.title }}"
                    height="100%"
                />
            </div>
        </div>
    </div>
</section>
