<div class="container-fluid py-5 bg-net pt-3 pb-5">
        <div
            class="container d-flex justify-content-start align-items-baseline"
        >
            <h2 class="ms-5 m-0">User details</h2>
        </div>
        <hr />
        <div class="container">
            <div class="row my-5 px-5">
                <div class="col-4 px-5 rounded-5">
                    <img
                        class="mb-4 rounded-5 w-75"
                        src="{{ currentUser.avatar }}"
                    />
                    <ul>
                        <li><b>Name:</b> {{ currentUser.name }}</li>
                        <li><b>Email:</b> {{ currentUser.email }}</li>
                    </ul>
                </div>
                <div class="col-4"></div>
            </div>
            <button type="button" class="btn btn-outline-light float-end" routerLink="/users">All Users</button>

        </div>
</div>
