<div class="container-fluid py-5 bg-net pt-3 pb-5">
    <div
        class="container d-flex justify-content-start align-items-baseline"
    >
        <h2 class="ms-5 m-0">Users List</h2>
    </div>
    <hr />
    <div class="container">
        <div class="row my-5 px-5">
            <div class="col-3 px-5 rounded-5 mb-3" *ngFor="let user of allUsers">
                <img
                    class="mb-4 rounded-5 w-75"
                    src="{{ user.avatar }}"
                />
                <ul>
                    <li><b>Name:</b><br> {{ user.name }}</li>
                    <li><b>Email:</b><br> {{ user.email }}</li>
                </ul>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>
