<button
  [disabled]="areWeHere('/completed')"
  class="btn btn-primary fw-light me-2 rounded-1 py-1"
  [routerLink]="['/completed']"
  routerLinkActive="active"
>
  See how much we've accomplished!
</button>
<button
  [disabled]="areWeHere('/pending')"
  class="btn btn-primary fw-light me-2 rounded-1 py-1"
  [routerLink]="['/pending']"
  routerLinkActive="active"
>
  What's left?
</button>
<button
  [disabled]="areWeHere('/users')"
  class="btn btn-primary fw-light me-2 rounded-1 py-1"
  [routerLink]="['/users']"
  routerLinkActive="active"
>
  By user
</button>
<button
  [disabled]="areWeHere('')"
  class="btn btn-primary fw-light me-2 rounded-1 py-1"
  [routerLink]="['/']"
  routerLinkActive="active"
>
  See all
</button>
