html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

nav {
  border-bottom: 1px solid #191919;
  font-weight: 300;
  top: 0;
  position: sticky;
  z-index: 100000;
}

a:active,
a:link {
  text-decoration: none;
  color: #191919;
}

a,
#logo-div,
#get-started,
.side-keyword,
.data img,
.side-data img,
.side-avatar {
  cursor: pointer;
}

#nav-container {
  justify-content: space-between;
  align-items: center;
}

#nav-links {
  justify-content: space-evenly;
  align-items: center;
}

.width-45 {
  width: 45%;
}

.background-ffc017 {
  background-color: #ffc017;
}

.padding-14 {
  padding: 1rem 4rem;
}

#get-started,
#hero-left2 {
  background-color: #191919;
  color: #ffffff;
  border-radius: 99em;
  padding: 0 1.5rem;
}

#hero-section {
  padding: 0.5rem 0rem 2rem 4rem;
  justify-content: space-between;
}

#hero-left {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

#hero-left h2 {
  font-size: 6rem;
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  letter-spacing: -0.15rem;
  transform: scale(1, 1.4);
}

#hero-left h3 {
  font-size: 1.8rem;
  font-weight: 300;
}

#hero-left2 {
  font-size: 1.5rem;
  font-weight: 300;
  height: 5rem;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.trending-article {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-block-start: 2rem;
}

#trending-section,
#related-container {
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 2rem;
}

#trending-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.trending-right {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.numero {
  font-size: 1.8rem;
  opacity: 0.1;
  padding: 1.5rem;
  transform: translateY(-35%);
}

.avatar {
  margin-bottom: 0.8rem;
}

.avatar,
.avatar-author,
#trending,
.data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#trending > h4 {
  margin-left: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.avatar-img {
  width: 2rem;
  margin-right: 1rem;
}

.avatar img {
  width: 100%;
  border-radius: 0.5rem;
}

.in {
  color: gray;
  cursor: none;
  font-style: normal;
}

.avatar-author p {
  margin: 0;
  font-size: 0.9rem;
}

.data {
  font-weight: 300;
}

.data img {
  margin-left: 0.2rem;
}

#side-articles,
aside {
  margin-top: 3rem;
  display: inline-block;
}

#side-articles {
  width: 60vw;
  padding-right: 3rem;
  transform: translateY(-23.5rem);
}

#side-articles-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.side-avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.2rem;
}

.side-avatar-img {
  width: 2rem;
  margin-right: 1rem;
}

.side-avatar img {
  width: 100%;
  border-radius: 50%;
}

.side-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-size: 0.9rem;
}

.side-keyword {
  text-decoration: underline;
  margin-left: 1rem;
  margin-right: 1rem;
}

.side-article-left {
  width: 70%;
}

.side-article-img {
  width: 30%;
}

.side-article-img img {
  width: 100%;
}

.side-article {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.side-article-text {
  width: 80%;
}

.side-article-left h2 {
  width: 85%;
}

aside {
  position: absolute;
  width: 30vw;
  top: 6rem;
  position: sticky;
}

#related-title {
  margin-bottom: 1rem;
}

#related-container {
  margin: 1rem;
  margin-bottom: 2rem;
}

#related {
  flex-wrap: wrap;
  justify-content: space-between;
}

.keywords-container p {
  margin: 0;
  color: grey;
  font-size: 300;
}

.keywords-container {
  align-items: center;
  justify-content: flex-start;
  margin-block-start: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
  padding: 0.7rem 1.5rem;
}

#link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link p {
  color: grey;
  font-weight: 300;
  margin-inline-start: 1rem;
}

@media screen and (max-width: 768px) {
  nav span,
  #get-started {
    flex-shrink: 0;
    margin-inline-start: 0.8rem;
  }

  #nav-container {
    padding-right: 12rem;
  }

  #hero-section {
    padding-top: 2rem;
    justify-content: flex-start;
    margin-left: 0;
  }

  #hero-left h2 {
    font-size: 4rem;
    margin-top: 1rem;
  }

  #hero-left h3 {
    font-size: 1.4rem;
    margin-top: 1rem;
  }

  #hero-left2 {
    width: 45%;
    margin-top: 1rem;
    height: 20%;
    font-size: 1.3rem;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
  }

  #trending-container {
    justify-content: flex-start;
    margin-left: 0;
  }

  .numero {
    font-size: 1.5rem;
    padding: 1rem;
    padding-left: 0;
    transform: translateY(-30%);
  }

  .trending-article {
    width: 45%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-block-start: 2rem;
  }

  .avatar,
  .avatar-author {
    justify-content: flex-start;
  }

  .avatar-author p {
    flex-shrink: 0;
  }

  #main-container {
    display: flex;
    flex-direction: column;
    height: 100vw;
  }

  aside,
  #side-articles {
    width: 100%;
  }

  aside {
    order: 1;
    position: relative;
    transform: translateY(-7rem);
    margin-bottom: 22rem;
  }

  #side-articles {
    order: 2;
    display: block;
    width: 90vw;
  }

  #related-container {
    display: flex;
    flex-direction: column;
  }

  #related-title {
    width: 100%;
    padding: 0 3rem;
    font-size: 1rem;
  }

  #related {
    font-size: 0.9rem;
    padding: 0 3rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  #link-container {
    padding: 0 4rem 3rem 3rem;
    border-bottom: 2px solid #f2f2f2;
  }

  #side-article {
    width: 90vw;
    justify-content: center;
  }

  .side-article-left {
    width: 60%;
  }

  .side-article-img {
    width: 40%;
  }
}

@media screen and (max-width: 576px) {
  #nav-links span:nth-child(-n + 3) {
    display: none;
  }

  #nav-container {
    justify-content: space-between;
    padding: 0;
  }

  #hero-right {
    display: none;
  }

  #hero-left {
    width: 80%;
  }

  #hero-section {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5rem 4rem;
    border-bottom: 1px solid #191919;
  }

  #hero-left h2 {
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }

  #hero-left h3 {
    margin-bottom: 3rem;
  }

  .trending-article {
    width: 100%;
  }

  #trending-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  #link-container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  aside {
    margin-bottom: 22rem;
  }

  .link {
    width: 15%;
    padding-left: 0.5rem;
    padding-bottom: 0;
  }

  .side-article {
    margin-bottom: 3rem;
    align-items: flex-end;
  }

  .side-article-left p {
    margin: 0.2rem 0;
    font-size: 0.9rem;
  }

  .side-article-left {
    height: 100%;
  }

  .side-article-left h2 {
    font-size: 1.3rem;
  }

  .side-article-left h4 {
    font-size: 1rem;
  }

  .side-data {
    justify-content: space-evenly;
    margin-left: -2.8rem;
  }


  .side-data p {
    margin-inline-start: 0.5rem;
  }

  .side-keyword {
    display: flex;
    text-decoration: none;
    background-color: rgb(199, 196, 196);
    align-items: center;
    padding: 0.3rem 0.4rem;
    border-radius: 1.5rem;
  }


}
