<div class="container-fluid bg-gradient p-5">
  <div class="container mb-5">
    <div class="row">
      <div class="col-sm-12 col-md" *ngFor="let brand of brands">
        <div class="card">
          <div class="card-body btn" [routerLink]="['/brands', brand.brand]">
            <h2 class="card-title text-center">{{ brand.brand }}</h2>
            <img
              [src]="brand.brandLogo"
              alt="{{ brand.brand }}"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container text-center">
    <h3 class="display-5 mb-3">Our featured models:</h3>
    <div class="row d-flex justify-content-center">
      <div class="col-4" *ngFor="let feat of featured">
        <div class="card">
          <img src="{{feat.modelImage}}" class="card-img-top" />
          <div class="card-body">
            <h3 [ngClass]="{'bg-success': feat.available, 'bg-danger': !feat.available}" class="card-title mb-4 text-white">{{ feat.brand }} {{ feat.model }}</h3>
            <p class="card-text">Price: <b>$ {{feat.price}}</b></p>
            <p class="card-text">Year: <b> {{feat.year}}</b></p>
            <a [routerLink]="['/brands', feat.brand]" class="btn btn-outline-dark">Others from {{feat.brand}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
