html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2em;
    line-height: 1.2em;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    color: antiquewhite;
    background-color: darkslategray;
    height: 50px;
    padding: 30px;
}

.container {
    text-align: center;
}

.container input {
    font-size: x-large;
    margin-top: 20px;
}

.container button {
    height: 30px;
    vertical-align: text-top;
    background-color: rgb(225, 244, 188);
    color: rgb(20, 14, 4);
    font-weight: bold;
}

#lista {
    list-style-type: none;
}