.bg-net {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../../../assets/img/bg-big.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.signin-btn {
    background-color: #FF050A !important;
}

.transparent-input {
    background-color: transparent;
    color: white;
    border-color: white;
}

.transparent-input:focus {
    border: 3px solid white;
}

.transparent-input::placeholder {
    color: white;
    font-weight: 300;
}


.avatarpic {
    width: 40px;
}

.movies-background {
    background-color: #141414 !important;
  }

.img-hover:hover {
    transform: scale(1.1) !important;
    cursor: pointer;
}

