    <div
        class="container-fluid d-flex bg-net justify-content-center align-items-center text-center py-5"
    >
        <div
            class="container text-white"
        >
            <h1 class="mb-5 display-3">Unlimited movies, TV shows, and more</h1>
            <h3 class="my-4 display-6 mb-3">Watch anywhere. Cancel anytime.</h3>
            <h3 class="my-4 fw-light">
                Ready to watch? Enter your email to create or restart your
                membership.
            </h3>
            <div class="row justify-content-center mt-5 py-3">
                <div class="col-md-10">
                    <div class="input-group">
                        <form [formGroup]="emailForm" class="d-flex w-100">
                            <input
                                type="email"
                                id="email"
                                name="email"
                                class="form-control form-control-lg transparent-input me-3 rounded-1"
                                placeholder="Email address"
                                formControlName="email"
                            />
                            <button
                                type="button"
                                class="btn btn-lg btn-danger signin-btn fw-semibold rounded-1"
                                (click)="onSignupClick()"
                                [disabled]="!emailForm.valid"
                            >
                                Signup
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
