html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padding-0 {
  padding: 0px;
}

.padding-1 {
  padding: 5px;
}

.padding-2 {
  padding: 10px;
}

.padding-3 {
  padding: 15px;
}

.padding-4 {
  padding: 20px;
}

.padding-5 {
  padding: 25px;
}

.padding-6 {
  padding: 30px;
}

.margin-0 {
  margin: 0px;
}

.margin-1 {
  margin: 5px;
}

.margin-2 {
  margin: 10px;
}

.margin-3 {
  margin: 15px;
}

.margin-4 {
  margin: 20px;
}

.margin-5 {
  margin: 25px;
}

.margin-6 {
  margin: 30px;
}

.btn[class*=btn-blu] {
  padding: 8px 16px;
  background-color: #0e6cff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 8px 16px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn[class*=btn-blu]:hover {
  background-color: #0055da;
}
.btn[class*=btn-blu]:hover {
  background-color: #0055da;
}

.btn[class*=btn-arancione] {
  padding: 8px 16px;
  background-color: #ff8700;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 8px 16px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn[class*=btn-arancione]:hover {
  background-color: #cc6c00;
}
.btn[class*=btn-arancione]:hover {
  background-color: #cc6c00;
}

.btn[class*=btn-verde] {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 8px 16px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn[class*=btn-verde]:hover {
  background-color: #3d8b40;
}
.btn[class*=btn-verde]:hover {
  background-color: #3d8b40;
}

.btn-rosso {
  padding: 8px 16px;
  background-color: #0e6cff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-rosso:hover {
  background-color: #0055da;
}

.btn-blu {
  padding: 8px 16px;
  background-color: #ff8700;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-blu:hover {
  background-color: #cc6c00;
}

.btn-verde {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-verde:hover {
  background-color: #3d8b40;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
nav {
  background-color: #640fc5;
  color: #ffffff;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

#nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#nav-links ul li {
  margin-left: 16px;
}

#nav-links ul li a {
  color: #ffffff;
  text-decoration: none;
}

#nav-links ul li a:hover {
  color: #f7f7f7;
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #640fc5;
  padding: 2rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 50%;
  padding-right: 16px;
}

#hero-h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

#hero-p {
  font-size: 16px;
  margin-bottom: 16px;
}

#hero-btns {
  display: flex;
  justify-content: flex-start;
}

#hero-btns .btn {
  padding: 8px 16px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}
#hero-btns .btn:not(:first-child) {
  margin-left: 10px;
}
#hero-btns .btn.btn-rosso {
  background-color: #0e6cff;
}
#hero-btns .btn.btn-blu {
  background-color: #ff8700;
}
#hero-btns .btn.btn-verde {
  background-color: #4caf50;
}
#hero-btns .btn:hover {
  background-color: #0055da;
}
#hero-btns .btn.btn-blu:hover {
  background-color: #cc6c00;
}
#hero-btns .btn.btn-verde:hover {
  background-color: #3d8b40;
}

#img-transform {
  margin-top: 24px;
}
#img-transform img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 24px;
}

#cards div {
  padding: 16px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#cards div img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=style.css.map */
