// Generatore classi per padding
@for $i from 0 through 6 {
  .padding-#{$i} {
    padding: $i * 5px;
  }
}

// Generatore classi per margin
@for $i from 0 through 6 {
  .margin-#{$i} {
    margin: $i * 5px;
  }
}

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;


$border-radius-lg: 10px;
$border-radius-md: 10px;

