<div>
    <div class="px-5 py-4 bg-warning-subtle rounded-3">
        <h5>Potrebbero piacerti:</h5>
        <ul class="list-group mb-3">
            <li class="list-group-item" *ngFor="let post of advised">
                <a class="text-decoration-none text-dark mb-2" [routerLink]="['/post', post.id]">&minus; {{ post.title }}</a>
                <br />
                <span
                    class="badge bg-warning me-1 text-uppercase mb-2"
                    *ngFor="let tag of post.tags"
                    >{{ tag }}</span
                >
                <br />
                <span>{{ post.reactions }} 👍</span>
            </li>
        </ul>
        <h5>Vedi anche:</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <a [routerLink]="['/active']">Post attivi</a>
            </li>
            <li class="list-group-item">
                <a [routerLink]="['/inactive']">Post inattivi</a>
            </li>
        </ul>
    </div>
</div>
