<div class="container">
  <div class="mb-3 input-group">
    <input
      type="text"
      class="form-control rounded-0"
      placeholder="Search todos..."
      [(ngModel)]="searchText"
      (input)="applyFilter()"
    />
    <div class="input-group-append">
      <button
        *ngIf="searchText"
        class="btn btn-danger rounded-start-0"
        type="button"
        (click)="clearSearch()"
      >
        X
      </button>
    </div>
  </div>
  <div *ngIf="filteredTodos.length > 0; else noTodos">
    <div *ngFor="let todo of filteredTodos">
      <app-todo
        [todo]="todo"
        [user]="getUserById(todo.userId)!"
        (todoCompleted)="updateTodo($event)"
      ></app-todo>
    </div>
  </div>
  <ng-template #noTodos>
    <p>No todos here!</p>
  </ng-template>
</div>
