@import "partials/reset";
@import "partials/colors";
@import "partials/font";
@import "partials/spacings";
@import "partials/mixins"; 
@import "partials/buttons"; 
@import "partials/animations";

// Navbar
nav {
  background-color: $color-hero; 
  color: $color-text-light; 
  padding: $spacing-sm $spacing-md; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

// Logo
#logo {
  color: $color-text-light; 
  font-size: $font-size-lg; 
  font-weight: bold;
}

// Link
#nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#nav-links ul li {
  margin-left: $spacing-md; 
}
// Navbar Link Color
#nav-links ul li a {
  color: $color-text-light; 
  text-decoration: none;
}

#nav-links ul li a:hover {
  color: $color-text-light-alt; 
}

// Hero Section
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-hero;
  padding: 2rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 50%; 
  padding-right: $spacing-md; 
}

#hero-h1 {
  font-size: $font-size-xl;
  margin-bottom: $spacing-md;
}

#hero-p {
  font-size: $font-size-md;
  margin-bottom: $spacing-md;
}

#hero-btns {
  display: flex;
  justify-content: flex-start;
}

#hero-btns .btn {
  padding: $spacing-sm $spacing-md;
  color: $color-text-light;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px; 

  &:not(:first-child) {
    margin-left: 10px; 
  }

  &.btn-rosso {
    background-color: $color-btn-1;
  }

  &.btn-blu {
    background-color: $color-btn-2;
  }

  &.btn-verde {
    background-color: $color-btn-3;
  }

  &:hover {
    background-color: darken($color-btn-1, 10%);
  }

  &.btn-blu:hover {
    background-color: darken($color-btn-2, 10%);
  }

  &.btn-verde:hover {
    background-color: darken($color-btn-3, 10%);
  }
}

#img-transform {
  margin-top: $spacing-lg;
  img {
    width: 100%;
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow-lg;
  }
}

#cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-md;
  margin-top: $spacing-lg;
}

#cards div {
  padding: $spacing-md;
  background-color: $color-card-bg;
  border-radius: $border-radius-md;
  box-shadow: $box-shadow-md;
  img {
    width: 100%;
    border-radius: $border-radius-md;
    box-shadow: $box-shadow-md;
  }
}
