<div class="container py-3">
    <h1>Check out all these cool people!</h1>
    <hr />
    <app-navbar></app-navbar>
  </div>
  
  <div class="container">
    <div *ngFor="let person of todoByUser" [id]="person.user.id.toString()" class="row border-1 mb-4 align-items-center">
      <div class="col-md-4 d-flex flex-column justify-content-start align-items-center">
        <img
          class="mb-2"
          height="200px"
          src="{{ person.user.image }}"
          alt="{{ person.user.firstName }} {{ person.user.lastName }}"
        />
        <div class="text-center">
          <h5 class="border-bottom">
            {{ person.user.firstName }} {{ person.user.lastName }}
          </h5>
          <p class="small mb-1">{{ person.user.title }}</p>
          <a href="javascript:void(0)" class="text-decoration-none">{{ person.user.email }}</a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row row-cols-1">
          <div *ngFor="let todo of person.userTodos" class="col mb-1">
            <app-todo
              [todo]="todo"
              [user]="person.user"
              (todoCompleted)="updateTodo($event)"
            ></app-todo>
          </div>
        </div>
        <hr />
      </div>
    </div>
    <hr />
  </div>
  