<div class="card">
    <img [src]="car?.modelImage" class="card-img-top" />
    <div class="card-body">
      <h3
        [ngClass]="{
          'bg-success': car?.available,
          'bg-danger': !car?.available
        }"
        class="card-title mb-4 text-white"
      >
        {{ car?.brand }} {{ car?.model }}
      </h3>
      <p class="card-text">
        Price: <b>$ {{ car?.price }}</b>
      </p>
      <p class="card-text">
        Year: <b>{{ car?.year }}</b>
      </p>
      <a [routerLink]="['/brands', car?.brand]" class="btn btn-outline-dark">
        Others from {{ car?.brand }}
      </a>
    </div>
  </div>
  